<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>This will create a confirmed booking for your program at the time specified.</p>
        <p>Are you sure you want to add this booking?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="bookingConfirmVm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="bookingConfirmVm.cancel()">Cancel</button>
    </div>
</div>